.scrollbar {
  display: block;
  width: 4px;
  height: 50vh;
  background-color: #696969;
  border-radius: 2px;
  position: relative;

  &Active {
    position: absolute;
    top: 0;
    display: block;
    width: 4px;
    height: 20%;
    background-color: #fff;
    border-radius: 2px;
  }
}
