.container {
  width: 1120px;
  padding: 0 15px;
  max-width: 90%;
  margin: 0 auto;
}

.def__btn {
  border-radius: 16px 16px 0px 16px;
  border: 2px solid #000;
  /* box-shadow: 2px 2px 0px 0px #fff, 4px 4px 0px 1px #000; */
  box-shadow: 4px 4px 0px -1px #fff, 4px 4px 0px 1px #000;
  padding: 0.3em 2.5em;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.def__btn:hover {
  box-shadow: 0px 0px 0px -1px #fff, 0px 0px 0px 0px #000;
}
